yhtml {
    background-color: #ffffff !important
}

*:not(i) {
    /*font-family: 'IBM Plex Sans' !important;*/
    font-style: normal;
    font-weight: 400;
}

body {
    /*font-family: 'IBM Plex Sans' !important;*/
    font-style: normal;
    font-weight: 400;
    background-color: #22252a !important
}

.navbar {
    background-color: #323232 !important
}

.nav-tabs > li.active > a {
    border-top: 2px solid orange !important
}

.nav-tabs a {
    background-color: #2d3035 !important;
	color: white !important;	
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #2d3035;
    border-radius: 4px 4px 0 0;
}

.nav-tabs a:hover {
    background-color: #212326 !important;
    color: #fafafa !important
}

.nav-tabs>li>a:hover {
    background-color: #FFF;
    color: #4C8FBD;
    border-color: #212326;
}

.nav-list:hover, .skin-3 .nav-list > li:hover, .skin-3 .nav-list > li > a:hover, .skin-3 .nav-list > li.active > a:hover {
    border-color: #212326 !important;
}

.skin-3 .nav-list > li.active, .skin-3 .nav-list > li.active + li {
    border-color: #212326 !important;
}

.dropdown-toggle {
    background-color: #2d3035 !important
}

.dropdown-toggle:hover {
    background-color: #212326 !important
}

.dropdown-menu {
    background-color: #2d3035 !important
}

.dropdown-menu a {
    color: #e6e6e6 !important
}

.dropdown-menu .search {
    background-color: #3c3c3c !important;
    color: #e6e6e6 !important
}

.dropdown-menu li.active:hover > a, .dropdown-menu li.active > a, .dropdown-menu li:hover > a, .dropdown-menu li > a:active, .dropdown-menu li > a:focus {
    background-color: orange !important;
    color: #f0f0f0 !important
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
	background-color: transparent !important;
}

.ace-nav > li {
    line-height: 45px;
    height: 45px;
    border-left: 0px solid #E1E1E1 !important;
    padding: 0;
    position: relative;
    float: left;
}

.btn.btn-white, .btn-primary, .btn.btn-white.btn-primary {
    background-color: #22252a !important;
    border-color: transparent !important;
    border: 0 !important;
    color: #fafafa !important;
    /*border-radius: 16px !important;*/
    padding: 3px 12px !important;
}

.btn.btn-white.active,
.btn-primary.active,
.btn.btn-white.btn-primary.active {
    background-color: #1f2226 !important;
}

.btn.btn-white:hover, .btn-primary:hover, .btn.btn-white.btn-primary:hover {
    background-color: #1f2226 !important;
}

.btn-primary.no-hover:active, .btn-primary.no-hover:hover {
    background-color: #16181c !important;
}

.skin-3 .nav-list > li > a:hover, .skin-3 .nav-list > li.active > a:hover {
    border-color: #212326 !important !important;
}

.main-content, .page-content, .main-container, .main-container:before, .main-container.container:before, .skin-3 .main-container:before {
    background: #22252a !important;
    background-color: #22252a !important
}

.footer-content {
    background-color: #282828 !important;
    border-top-color: orange !important;
    border-top-style: dotted !important;
    border-top-width: 1px !important
}

.label {
    background-color: orange !important;
    color: white;
    /*border-radius: 18px;*/
    padding: 3px 10px;
}

.label:before {
    border-right-color: orange !important
}

.label.arrowed-in-right:after {
    border-color: orange !important;
    border-right-color: transparent !important
}

.breadcrumbs {
    border-radius: 0 !important;
    background-color: #2d3035 !important;
    padding: 10px !important;
}

.breadcrumbs a {
    color: white !important
}

.breadcrumbs .nav-recent {
    color: orange !important;
    padding: 10px !important;
}

.breadcrumbs .nav-search {
    top: 16px;
}

.breadcrumbs .nav-search-input {
    background-color: #464646 !important;
    border-color: transparent !important;
    color: #f0f0f0 !important;
    border-radius: 18px !important;
}

.breadcrumbs .nav-search-icon {
    color: #fff !important
}

.breadcrumb > li, .breadcrumb > li.active {
    color: white !important;
}

.input-icon > input {
    padding-left: 30px;
    padding-right: 10px;
}

.widget-header {
    background-color: #5f5f70 !important;
    border-color: #5f5f70 !important
}

.widget-header .white:hover {
    color: #1f2226 !important
}

.widget-header .badge {
    background-color: #646464 !important
}

.widget-box, .widget-main {
    background-color: #26282d !important;
    border-color: transparent !important;
    border: 0 !important;
}

.widget-box {
    /*box-shadow: 0px 0px 5px #ccc;*/
}

.table {
    background-color: inherit !important
}

.table-bordered {
    border: 0 !important;
    border-color: transparent !important;
    background-color: #fff !important
}


.widget-body {
    background-color: transparent !important;
    color: white !important
}

.widget-body .table a {
    color: orange !important;
    font-weight: bold;
}

.widget-body .table a.tagi-brighter {
    color: #babaff !important;
    font-weight: bold
}

.widget-body .table a.btn {
    color: #fafafa !important
}

.widget-body .table th {
    background-color: #2d3035 !important;
    border-color: #fff !important;
    color: white !important;
    padding: 20px !important;
    font-weight: bold !important;
    border: 0 !important;
}

.widget-body .table td {
    background-color: #2d3035 !important;
    border-color: #fff !important;
    color: white !important;
    padding: 20px !important;
    font-weight: 100 !important;
    border: 0 !important;
}


.widget-body .table th {
    /*color: #e6e6e6 !important*/
}

.widget-body .table td {
    border-color: #3c3c3c !important
}

.widget-body .table thead {
    background-color: #505050 !important
}

.widget-body .table thead tr {
    background-color: inherit !important
}

.widget-body .table thead tr td {
    background-color: #292b2f !important;
	border-bottom: 1px solid #2d3035 !important;
	color: #fff !important;
}

.buglist-headers{
    border-bottom: 1px solid silver !important;
}

.widget-body .fa-pencil {
    color: #d2d2d2 !important
}

.widget-body .table-responsive {
    background-color: #fff !important;
    color: #4a4a4a !important
}

.widget-body .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: transparent !important
}

.widget-body .table-striped > tbody > tr:nth-of-type(even):hover,
.widget-body .table-striped > tbody > tr:nth-of-type(odd):hover {
    /*background-color: #ccc !important*/
}

.widget-body .table-striped > tbody > tr {
    background-color: #fff !important
}

.widget-body .table-striped > tbody > tr:hover {
    /*background-color: #ccc !important*/
}

.widget-body .profile-activity {
    border-color: transparent !important
}

.profile-activity:nth-of-type(even) {
    background-color: #1d1f24 !important
}

.profile-activity:nth-of-type(odd):hover {
    background-color: #1c1e20 !important
}

.profile-activity:hover {
    background-color: #101215 !important;
}

.widget-body .profile-activity:hover {
    /*background-color: #ccc !important*/
}

.widget-toolbox {
    border: 0 !important;
    background-color: #212326 !important;
    border-color: transparent !important
}

.table-hover > tbody > tr:hover {
    /*background-color: inherit !important*/
}

.table-hover > tbody > tr.spacer:hover {
    background-color: #ccc !important
}

.btn-toolbar {
    padding: 10px 0 !important;
    background-color: transparent !important
}

.form-inline .input-sm {
    background-color: #323232 !important;
    border-color: #3c3c3c !important;
    color: #fafafa !important
}

.form-control, .input-sm, input {
    background-color: #323232 !important;
    border-color: #3c3c3c !important;
    color: #fafafa !important
}

select {
    background-color: #505050 !important;
    color: #e6e6e6 !important
}

.skin-3 .sidebar {
    background-color: #2d3035 !important;
    border-color: #2d3035 !important;
	border-width: 0 0 0 0 !important;
}

.nav-list, .skin-3 .nav-list > li, .skin-3 .nav-list > li > a, .skin-3 .nav-list > li.active > a {
    background-color: inherit !important;
    border-color: #2d3035 !important;
}

.nav-list:hover, .skin-3 .nav-list > li:hover, .skin-3 .nav-list > li > a:hover, .skin-3 .nav-list > li.active > a:hover {
    border-color: #3c3c3c !important
}

.nav-list a:hover, .skin-3 .nav-list > li a:hover, .skin-3 .nav-list > li > a a:hover, .skin-3 .nav-list > li.active > a a:hover {
    background-color: #bbb !important;
    border-color: #bbb !important;
    color: white;
}

.nav-list a:hover span, .skin-3 .nav-list > li a:hover span, .skin-3 .nav-list > li > a a:hover span, .skin-3 .nav-list > li.active > a a:hover span {
    background-color: transparent !important
}

.nav-list li.active > a:before, .skin-3 .nav-list > li li.active > a:before, .skin-3 .nav-list > li > a li.active > a:before, .skin-3 .nav-list > li.active > a li.active > a:before {
    color: rgba(0, 0, 0, 0) !important;
    border-right-color: orange !important
}

.nav-list > li:before, .nav-list > li:after, .skin-3 .nav-list > li > li:before, .skin-3 .nav-list > li > li:after, .skin-3 .nav-list > li > a > li:before, .skin-3 .nav-list > li > a > li:after, .skin-3 .nav-list > li.active > a > li:before, .skin-3 .nav-list > li.active > a > li:after {
    background-color: orange !important
}

.skin-3 .nav-list > li.open:before, .skin-3 .nav-list > li:hover:before {
    background-color: orange !important
}

.skin-3 .sidebar.menu-min .nav-list > li > a > .menu-text {
    border-color: #505050 !important
}

.skin-3 .nav-list > li.active, .skin-3 .nav-list > li.active + li {
    border-color: #212326 !important;
}

.skin-3 .nav-list > li.active:before, .skin-3 .nav-list > li.active + li:before {
    background-color: orange !important
}

.skin-3 .nav-list > li:hover + li {
    border-top-color: rgba(0, 0, 0, 0) !important
}

.menu-icon {
    color: #4a4a4a !important
}

.arrow {
    z-index: -1;
    background-color: none !important
}

.arrow::after {
    border-right-color: orange !important
}

.menu-text {
    color: white !important;
    background-color: transparent !important
}

.sidebar-toggle, .skin-3 .sidebar-toggle {
    background-color: inherit !important;
    border-color: #3c3c3c !important;
    color: orange !important;
    border-bottom: 0 !important;
    padding: 20px 0 !important;
}

.sidebar-toggle > .ace-icon, .skin-3 .sidebar-toggle > .ace-icon {
    background-color: #212326 !important;
    border-color: orange !important;
    color: orange !important
}

.sidebar-toggle:before, .skin-3 .sidebar-toggle:before {
    border-color: inherit !important
}

.well {
    background-color: #646464 !important;
    color: white;
}

.color-global {
    background-color: #4a4a4a;
}

tr.spacer {
    background-color: #ccc !important;
    height: 1px;
}

td.category, tr.bugnote .bugnote-note {
    background-color: #22252a !important;
	color: #b1b1b1 !important;
}

td.bug-summary {
    /*font-weight: bold;*/
    font-size: 1.1em
}

td.bug-description {
    /*font-weight: bold;*/
    font-size: 1.1em
}

td.bug-tags, label.inline.small {
    color: grey
}

span.required {
    font-size: 10pt;
    color: #bb0000 !important
}

.bootstrap-datetimepicker-widget, .bootstrap-datetimepicker-widget * {
    background-color: #323232 !important;
    color: #fff !important
}

.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget span.month:hover, .bootstrap-datetimepicker-widget span.year:hover {
    background-color: #3c3c3c !important
}

.bootstrap-datetimepicker-widget td.day.active, .bootstrap-datetimepicker-widget span.month.active, .bootstrap-datetimepicker-widget span.year.active {
    background-color: #282828 !important
}

/* added */
td {
    border: 0 !important;
    padding: 10px !important;
}
.widget-box[class*="widget-color-"] > .widget-header {
    padding: 10px;
}

.widget-color-blue2 > .widget-header {
    border: 0 !important;
    background-color: #999 !important;
    background-color: #2d3035 !important;
	color: white !important;
	border-bottom: 1px solid #22252a !important;
}

.footer-content {
    display: none;
}

.skin-3 .breadcrumbs {
    margin: 20px;
}

[class*="widget-color-"] > .widget-header > .widget-toolbar::before {
    border-color: transparent !important;
}

.profile-activity .thumbicon {
    border-radius: 100% !important;
    line-height: 32px;
}

form + form,
a.btn + a.btn {
    margin-left: 10px !important;
}

.sidebar-toggle::before, .skin-3 .sidebar-toggle::before {
    border-color: transparent !important;
}

.sidebar.compact .nav-list > li > a {
    padding: 8px;
}

.skin-3 .nav-list > li.active::before, .skin-3 .nav-list > li.active + li::before {
    /*background-color: transparent !important;*/
}

.nav-list > li.active > a {
    font-weight: inherit !important;
}

a{
    color: orange !important;
}

.ace-nav > li.grey > a {
    color: white !important;
}

tr.spacer {
    background-color: #ccc !important;
}

tr.spacer td{
    padding: 0 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #2d3035 !important;
	color: #fff !important;
}

.nav-tabs > li.active > a {
	border-top: 2px solid orange !important;
	border-color: orange #2D3035 transparent !important;
}

.nav-tabs {
    border-bottom: 0px solid #2d3035 !important;
    border-bottom-color: rgb(45, 48, 53);
}

.nav-tabs > li > a, .nav-tabs > li > a:focus {
    border-radius: 0 !important;
    border-color: #2D3035;
    background-color: #F9F9F9;
    color: #999;
    margin-right: -1px;
    line-height: 18px;
    position: relative;
}

.form-control, .input-sm,
input,
.form-inline .input-sm,
textarea.form-control,
input.form-control {
    background-color: #22252a !important;
	color: #fff !important;
	border: 1px solid #22252a !important;
}

input[type="file"] {
    padding: 10px;
}

.widget-body .table-striped > tbody > tr:nth-of-type(2n+1):hover {
    /*background-color: transparent !important;*/
}

.small-caption {
    font-size: 9pt;
}

a i {
    color: #bbb !important;
}

.lead {
    font-size: 1.1em;
}

.widget-toolbox.padding-8 {
    padding: 8px 17px;
}

.white {
    color: white !important;
}

.widget-header .white:hover {
    text-decoration: underline;
    color: white !important;
}

.widget-title .badge {
    margin: 0 0 0 10px !important;
}

.skin-3 .nav-list > li.active.highlight > a, .skin-3 .nav-list > li.active > a,
.sidebar.compact .nav-list > li > a:hover {
    background-color: #212326 !important;
    border-color: #212326 !important;
}

.sidebar.compact .nav-list > li > a > .menu-icon {
    color: #fff !important;
}

.nav-list:hover, .skin-3 .nav-list > li:hover, .skin-3 .nav-list > li > a:hover, .skin-3 .nav-list > li.active > a:hover {
    border-color: #2d3035 !important;
}

.skin-3 .nav-list > li.open::before, .skin-3 .nav-list > li:hover::before,
.skin-3 .nav-list li.active > a::before,
.skin-3 .nav-list > li.active::before, .skin-3 .nav-list > li.active + li::before {
    display: none;
}

.ace-nav > li > a > .ace-icon {
    color: white !important;
}

.navbar .navbar-brand {
    color: white !important;
}

.navbar {
    background-color: #2d3035 !important;
}

.page-header h1 {
    color: #4a4a4a;
}


.label.arrowed {
    border-radius: 0 18px 18px 0;
}
